nav{
    background-color: rgb(53, 58, 63);
    display: flex;
    height: 65px;
    justify-content: flex-end;
    padding-right: 100px;
}
nav ul{
    padding: 0;
    display: flex;
}
nav li{
    list-style: none;
    margin: 0 30px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 100;
}
nav li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
nav li a:hover{
    transition: 0.5s;
    color: rgb(0, 255, 170);
}

.block{
    height: 350px;
}
.block:nth-child(odd){
    background-color: rgb(0, 255, 170);
}
.block:nth-child(even){
    background-color: rgb(0, 161, 108);
}